<div class="container">
  <div class="left-panel">
    <div class="header-with-icon">
      <app-header />
      <img src="/assets/food-truck.png" alt="Food Truck" />
    </div>
    <app-search-bar (search)="handleSearch($event)" />
    <app-food-truck-list
      [filteredTrucks]="filteredTrucks()"
      (select)="selectTruck($event)"
    />
  </div>

  <div class="right-panel">
    <app-map-view
      [foodTrucks]="filteredTrucks()"
      [selectedTruck]="selectedTruck()"
    />
  </div>
</div>
